<h1> New Ticket </h1>

<%= form_for(@ticket, :url => seller_admin_issues_tickets_path(@ticket)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', seller_admin_issues_tickets_path, :class => 'button' %>
