<h1> New Customer Services" </h1>

<%= form_for(@customer_services, :as => :customer_service_feedback, :url => loop_customer_service_path()) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

