<h1> Edit Brand </h1>

<%= form_for(@brand, :url => admin_merchandise_images_brand_path(@brand),
                        :html => {:class => 'prepend-4', :multipart => true}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="button generic_submit_button">
    <%= submit_tag "Create",
                    :class  => "button",
                    :id     => "create_brand_button" %>
  </div>
<% end %>

  <%= link_to 'Show', admin_merchandise_images_brand_path( @brand ), :class => 'button' %> |
