<div>
  <p><%= link_to "New Ticket", new_seller_admin_issues_ticket_path, :class => 'button white-button' %></p>

</div>
<div>
  <p><%= render :partial => "/seller_admin/issues/ticket_breakdown" %></p>
</div>