<h1> About </h1>

<p>
  Our philosophy is simple: We love great design.  And we want to share it with you at the best price possible.
</p>
<p>
  We look forward to learning from you as we grow.  Please feel free to let us in on your thoughts or concerns and contact us anytime.
  <div style='display:none;'>
    If you’ve just found a fantastic local designer or spotted a sensational style, share your findings on our Loop Blog
  </div>
</p>
<p>
  Go ahead, take your closet on a Loop de Luxe and invite your friends along!
</p>