<h1> About </h1>

<p>
  Loop de Luxe is your go-to website for fashion savvy shoppers who are looking to find new designers. Each day there will be a featured product that will be offered for that day only at an enticing discount. Loop de Luxe also creates a unique shopping experience for customers by providing them with a closer connection to the designer and story behind their line than what is typically experienced in the traditional retail environment.
</p>
