<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @user.name %> </h2>

    <p>Thank you for your interest in Loop de Luxe!</p>

    <p>We are currently in Beta testing and will be sure to update you as soon as we launch!</p>

    <p style='color:#AAAAAA'><b>Privacy Policy</b><br />
    <span> Loop de Luxe will never share, sell, or rent individual personal information with anyone. Information submitted to us is only available to employees managing this information for purposes of contacting you or sending you emails based on your request for information.</span>
    </p>
  </body>
</html>