<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.name %> </h1>
    <p>
      Thank you for your interest in Loop de Luxe.  We will update you as soon as we open our doors.  There are also a limited number of beta users we will ask to get exclusive deals.  Be sure to be on the look-out for a beta-users invitation.
    </p>
    <p>Loop de Luxe is the premier place to buy boutique designer clothing. </p>

    <p>Thank you and have a great day!</p>
  </body>
</html>