<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      Your friend <%= @user.name %> thought you would be interested in Loop de Luxe.
    </p>
    <p>Loop de Luxe is the premier place to buy boutique designer clothing. </p>

    <p>Thank you and have a great day!</p>
  </body>
</html>