<h1> New Contract </h1>

<%= form_for(@contract, :url => admin_seller_contracts_path(@contract)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_seller_contracts_path, :class => 'button white-button medium-button' %>
