/* line 3, ../../app/stylesheets/_main_header.scss */
#header_wrapper {
  border-bottom: 1px solid #E6E6E6;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
  background-color: #FFFFFF;
}
/* line 9, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header, #header_wrapper #seller_header {
  font-family: Arial,"Liberation Sans",FreeSans,sans-serif;
  height: 69px;
}
/* line 13, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header .container, #header_wrapper #seller_header .container {
  margin-left: auto;
  margin-right: auto;
}
/* line 17, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header form.search, #header_wrapper #seller_header form.search {
  display: inline;
  float: left;
  height: 29px;
  padding: 17px 15px 13px;
}
/* line 22, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header form.search.input-search, #header_wrapper #seller_header form.search.input-search {
  width: 230px;
}
/* line 26, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo, #header_wrapper #seller_header #logo {
  display: inline;
  float: left;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 0px;
  width: 224px;
  height: 100%;
}
/* line 36, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo a, #header_wrapper #seller_header #logo a {
  display: block;
  padding: 0px;
}
/* line 40, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo a span, #header_wrapper #seller_header #logo a span {
  -moz-box-orient: vertical;
  display: block;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  width: 160px;
}
/* line 51, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main, #header_wrapper #seller_header #menu-main {
  font-size: 0;
  list-style-type: none;
  float: left;
  margin: 0;
  overflow: hidden;
}
/* line 58, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user, #header_wrapper #seller_header #menu-main li#menu-main-user {
  display: inline-block;
}
/* line 60, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div, #header_wrapper #seller_header #menu-main li#menu-main-user div {
  display: inline-block;
  padding: 13px 19px;
}
/* line 63, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div strong, #header_wrapper #seller_header #menu-main li#menu-main-user div strong {
  color: #525252 !important;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
/* line 70, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div span, #header_wrapper #seller_header #menu-main li#menu-main-user div span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 74, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div a, #header_wrapper #seller_header #menu-main li#menu-main-user div a {
  padding: 0px 0px;
  border-right: none;
}
/* line 81, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li, #header_wrapper #seller_header #menu-main li {
  margin-left: 0;
  display: inline-block;
}
/* line 85, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a, #header_wrapper #seller_header #menu-main li a {
  display: inline-block;
  padding: 23px 19px;
}
/* line 89, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a strong, #header_wrapper #seller_header #menu-main li a strong {
  color: #525252 !important;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
}
/* line 97, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a strong:hover, #header_wrapper #seller_header #menu-main li a strong:hover {
  color: #CDC673 !important;
}
/* line 100, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a span, #header_wrapper #seller_header #menu-main li a span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 105, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a #menu-main-fund, #header_wrapper #seller_header #menu-main li a #menu-main-fund {
  margin-left: -1px;
}
/* line 109, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li.selected, #header_wrapper #seller_header #menu-main li.selected {
  border-color: #CCCCCC #CCCCCC #FFFFFF;
  z-index: 1;
}
/* line 113, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li.selected a, #header_wrapper #seller_header #menu-main li.selected a {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 120, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub, #header_wrapper #seller_header #menu-sub {
  border: 0 none;
  display: inline;
  float: left;
  margin: 0;
  outline: 0 none;
  overflow: visible;
  padding: 0 0 0 8px;
}
/* line 129, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub li, #header_wrapper #seller_header #menu-sub li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}
/* line 139, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub li:first-child, #header_wrapper #header #menu-sub li.first, #header_wrapper #seller_header #menu-sub li:first-child, #header_wrapper #seller_header #menu-sub li.first {
  padding-left: 0;
}

/* line 146, ../../app/stylesheets/_main_header.scss */
.field.search {
  position: relative;
}
/* line 148, ../../app/stylesheets/_main_header.scss */
.field.search .icon-search {
  left: 8px;
  position: absolute;
  top: 5px;
}
/* line 153, ../../app/stylesheets/_main_header.scss */
.field.search input.text {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  behavior: url(border-radius.htc);
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  height: 14px !important;
  margin: 0;
  outline: medium none;
  padding: 4px 28px;
  vertical-align: top;
  width: 225px;
}

/* line 167, ../../app/stylesheets/_main_header.scss */
.icon-search {
  -moz-box-orient: vertical;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  vertical-align: middle;
  width: 14px;
}

/* line 178, ../../app/stylesheets/_main_header.scss */
a {
  color: #525252;
  text-decoration: none;
}

/* line 182, ../../app/stylesheets/_main_header.scss */
a:visited {
  color: #994444;
}

/* line 3, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper {
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
  text-align: left;
  color: #B2B2B2;
}
/* line 9, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  height: 59px;
}
/* line 13, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper ul, #sub_header_wrapper ol {
  margin: 0.3em 0 0.3em 0;
  padding-left: 0;
}

/* line 1, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 106%;
  border-bottom: 1px solid #ECECEC;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
  text-align: left;
  /*margin-top:50px;*/
}
/* line 13, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li {
  display: inline;
  list-style: none;
  color: #AA5555;
  padding: 3px;
}
/* line 18, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li a {
  color: #828282;
}
/* line 21, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li a:hover {
  color: #ADA663;
}
/* line 24, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li .selected {
  color: #ADA663 !important;
}
/* line 28, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li:hover {
  color: #AA5555;
}

/* button
---------------------------------------------- */
/* line 4, ../../app/stylesheets/_basic_css3_buttons.scss */
.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 24, ../../app/stylesheets/_basic_css3_buttons.scss */
.button:hover {
  text-decoration: none;
}

/* line 27, ../../app/stylesheets/_basic_css3_buttons.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* line 32, ../../app/stylesheets/_basic_css3_buttons.scss */
.bigrounded-button {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/* line 37, ../../app/stylesheets/_basic_css3_buttons.scss */
.medium-button {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}

/* line 41, ../../app/stylesheets/_basic_css3_buttons.scss */
.small-button {
  font-size: 11px;
  padding: .2em 1em .275em;
}

/* color styles
---------------------------------------------- */
/* black */
/* line 50, ../../app/stylesheets/_basic_css3_buttons.scss */
.black-button {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
  background: -moz-linear-gradient(top, #666666, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

/* line 58, ../../app/stylesheets/_basic_css3_buttons.scss */
.black-button:hover {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  background: -moz-linear-gradient(top, #444444, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

/* line 64, ../../app/stylesheets/_basic_css3_buttons.scss */
.black-button:active {
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
  background: -moz-linear-gradient(top, black, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
/* line 72, ../../app/stylesheets/_basic_css3_buttons.scss */
.gray-button {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
  background: -moz-linear-gradient(top, #888888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}

/* line 80, ../../app/stylesheets/_basic_css3_buttons.scss */
.gray-button:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}

/* line 86, ../../app/stylesheets/_basic_css3_buttons.scss */
.gray-button:active {
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
  background: -moz-linear-gradient(top, #575757, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
/* line 94, ../../app/stylesheets/_basic_css3_buttons.scss */
.white-button {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

/* line 102, ../../app/stylesheets/_basic_css3_buttons.scss */
.white-button:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
  background: -moz-linear-gradient(top, white, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

/* line 108, ../../app/stylesheets/_basic_css3_buttons.scss */
.white-button:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
  background: -moz-linear-gradient(top, #ededed, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
/* line 116, ../../app/stylesheets/_basic_css3_buttons.scss */
.orange-button {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

/* line 124, ../../app/stylesheets/_basic_css3_buttons.scss */
.orange-button:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* line 130, ../../app/stylesheets/_basic_css3_buttons.scss */
.orange-button:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
/* line 138, ../../app/stylesheets/_basic_css3_buttons.scss */
.red-button {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}

/* line 146, ../../app/stylesheets/_basic_css3_buttons.scss */
.red-button:hover {
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top, #c9151b, #a11115);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}

/* line 152, ../../app/stylesheets/_basic_css3_buttons.scss */
.red-button:active {
  color: #de898c;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top, #aa1317, #ed1c24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
/* line 160, ../../app/stylesheets/_basic_css3_buttons.scss */
.blue-button {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

/* line 168, ../../app/stylesheets/_basic_css3_buttons.scss */
.blue-button:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

/* line 174, ../../app/stylesheets/_basic_css3_buttons.scss */
.blue-button:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* rosy */
/* line 182, ../../app/stylesheets/_basic_css3_buttons.scss */
.rosy-button {
  color: #fae7e9;
  border: solid 1px #b73948;
  background: #da5867;
  background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
  background: -moz-linear-gradient(top, #f16c7c, #bf404f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}

/* line 190, ../../app/stylesheets/_basic_css3_buttons.scss */
.rosy-button:hover {
  background: #ba4b58;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
  background: -moz-linear-gradient(top, #cf5d6a, #a53845);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}

/* line 196, ../../app/stylesheets/_basic_css3_buttons.scss */
.rosy-button:active {
  color: #dca4ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
  background: -moz-linear-gradient(top, #bf404f, #f16c7c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
/* line 204, ../../app/stylesheets/_basic_css3_buttons.scss */
.green-button {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

/* line 212, ../../app/stylesheets/_basic_css3_buttons.scss */
.green-button:hover {
  background: #538018;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(top, #6b9d28, #436b0c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

/* line 218, ../../app/stylesheets/_basic_css3_buttons.scss */
.green-button:active {
  color: #a9c08c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* pink */
/* line 226, ../../app/stylesheets/_basic_css3_buttons.scss */
.pink-button {
  color: #feeef5;
  border: solid 1px #d2729e;
  background: #f895c2;
  background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
  background: -moz-linear-gradient(top, #feb1d3, #f171ab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}

/* line 234, ../../app/stylesheets/_basic_css3_buttons.scss */
.pink-button:hover {
  background: #d57ea5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
  background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}

/* line 240, ../../app/stylesheets/_basic_css3_buttons.scss */
.pink-button:active {
  color: #f3c3d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
  background: -moz-linear-gradient(top, #f171ab, #feb1d3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}

/* line 1, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs {
  /* padding-top: 25px; */
  font-variant: small-caps;
  font-weight: bold;
  font-size: 106%;
}
/* line 8, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li {
  display: inline;
  list-style: none;
  color: #ADA663;
  padding: 3px;
  padding-left: 20px;
}
/* line 14, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li a {
  color: #828282;
}
/* line 17, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li a:hover {
  color: #ADA663;
}
/* line 20, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li .selected {
  color: #AA4444 !important;
}
/* line 24, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li:hover {
  color: #ADA663;
}

/*LAYOUT*/
/* line 3, ../../app/stylesheets/_app.scss */
* {
  margin: 0;
}

/* line 6, ../../app/stylesheets/_app.scss */
html, body {
  height: 100%;
}

/* line 9, ../../app/stylesheets/_app.scss */
.main_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* line 15, ../../app/stylesheets/_app.scss */
.footer_wrapper {
  height: 4em;
}

/*END LAYOUT*/
/* line 20, ../../app/stylesheets/_app.scss */
a {
  text-decoration: none;
}

/* line 24, ../../app/stylesheets/_app.scss */
a:hover {
  background-color: transparent;
}

/* line 28, ../../app/stylesheets/_app.scss */
.left-text {
  text-align: left;
}

/* line 32, ../../app/stylesheets/_app.scss */
.left-text-4 {
  text-align: left;
  padding-left: 4px;
}

/* line 36, ../../app/stylesheets/_app.scss */
.left-text-8 {
  text-align: left;
  padding-left: 8px;
}

/* line 40, ../../app/stylesheets/_app.scss */
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url(border-radius.htc);
}

/* line 44, ../../app/stylesheets/_app.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 47, ../../app/stylesheets/_app.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 51, ../../app/stylesheets/_app.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 55, ../../app/stylesheets/_app.scss */
.padding-5 {
  padding: 5px;
}

/* line 59, ../../app/stylesheets/_app.scss */
.padding-10 {
  padding: 10px;
}

/* line 63, ../../app/stylesheets/_app.scss */
#admin-property-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-property-names p {
  width: 390px;
}

/* line 69, ../../app/stylesheets/_app.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 72, ../../app/stylesheets/_app.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 76, ../../app/stylesheets/_app.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 81, ../../app/stylesheets/_app.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 84, ../../app/stylesheets/_app.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 88, ../../app/stylesheets/_app.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 93, ../../app/stylesheets/_app.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 99, ../../app/stylesheets/_app.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 102, ../../app/stylesheets/_app.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 105, ../../app/stylesheets/_app.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 108, ../../app/stylesheets/_app.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 112, ../../app/stylesheets/_app.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 116, ../../app/stylesheets/_app.scss */
.disc-list li {
  list-style: disc;
}

/* line 119, ../../app/stylesheets/_app.scss */
.circle-list li {
  list-style: circle;
}

/* line 122, ../../app/stylesheets/_app.scss */
.alpha-list li {
  list-style: upper-alpha;
}

/* line 125, ../../app/stylesheets/_app.scss */
.numbered-list li {
  list-style: decimal;
}

/* line 128, ../../app/stylesheets/_app.scss */
.roman-list li {
  list-style: upper-roman;
}

/* line 132, ../../app/stylesheets/_app.scss */
textarea.height-20 {
  height: 2em;
}

/* line 136, ../../app/stylesheets/_app.scss */
textarea.height-30 {
  height: 3em;
}

/* line 139, ../../app/stylesheets/_app.scss */
textarea.height-40 {
  height: 4em;
}

/* line 143, ../../app/stylesheets/_app.scss */
textarea.height-50 {
  height: 5em;
}

/* line 147, ../../app/stylesheets/_app.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 153, ../../app/stylesheets/_app.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 165, ../../app/stylesheets/_app.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 172, ../../app/stylesheets/_app.scss */
li {
  list-style: none;
}

/* line 175, ../../app/stylesheets/_app.scss */
input.text, input.title, input[type="text"], input[type="password"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  margin: 0.15em 0;
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  height: 16px;
  font-size: 13px;
  padding: 6px 5px;
}

/* line 185, ../../app/stylesheets/_app.scss */
#content_wrapper {
  padding-top: 22px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

/* line 190, ../../app/stylesheets/_app.scss */
.flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_error a {
  color: #8a1f11;
}

/* line 194, ../../app/stylesheets/_app.scss */
.flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_notice a {
  color: #514721;
}

/* line 199, ../../app/stylesheets/_app.scss */
#right_side_panel {
  text-align: left;
}

/* line 205, ../../app/stylesheets/_app.scss */
#submit_add_to_cart {
  cursor: pointer;
}

/* line 209, ../../app/stylesheets/_app.scss */
.variant_border {
  padding: 3px;
  margin-bottom: 3px;
  border: solid 1px #DD8888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  background-color: #FFF;
  cursor: pointer;
}

/* line 218, ../../app/stylesheets/_app.scss */
.variant_select {
  text-align: left;
}

/* line 222, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table {
  margin: 0;
}

/* line 225, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table th, .ui-datepicker-calendar table td {
  padding: 0;
  text-align: center;
}

/* line 230, ../../app/stylesheets/_app.scss */
.individual-cart-item {
  border-bottom: solid 1px #dcd;
}

/* line 236, ../../app/stylesheets/_app.scss */
.line_items_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}

/* line 244, ../../app/stylesheets/_app.scss */
.line_item_green {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

/* line 252, ../../app/stylesheets/_app.scss */
.line_item_green:hover {
  background-color: #e0ffe8;
}

/* line 256, ../../app/stylesheets/_app.scss */
.line_item_red {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align: left;
}

/* line 265, ../../app/stylesheets/_app.scss */
.line_item_red:hover {
  background-color: #ffe0e8;
}

/* line 269, ../../app/stylesheets/_app.scss */
.line_item_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align: left;
}

/* line 278, ../../app/stylesheets/_app.scss */
.line_item_yellow {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align: left;
}

/* line 287, ../../app/stylesheets/_app.scss */
.line_item_light_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align: left;
}

/* line 296, ../../app/stylesheets/_app.scss */
.line_item_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align: left;
}

/* line 305, ../../app/stylesheets/_app.scss */
.dkBlueBox {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
  border: solid #AED2EE 0.5px;
}

/* line 310, ../../app/stylesheets/_app.scss */
.innerBox {
  padding: 8px;
}

/* line 313, ../../app/stylesheets/_app.scss */
.top_border td {
  border-top: solid 2px #ddd;
}

/* line 319, ../../app/stylesheets/_app.scss */
button.ui-button {
  text-shadow: 0 0 0 #000;
}
