<h1> Edit your Details </h1>

<%= form_for(@user, :url => myaccount_user_path(@user)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back', myaccount_user_path( ), :class => 'b-link' %>
