<h1> Details </h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birth Date:</strong>
  <%= @user.display_birth_date %>
</p>

<p>
  <%= link_to "Edit", edit_myaccount_user_path(@user), :class => 'b-link' %>
</p>
