<div class=" bp">
  <div id="header_wrapper" class='bp'>
    <div class="container logged-in" id="header">
      <h1 id="logo">
        <%= link_to image_tag( "logos/#{Image::MAIN_LOGO}.png", :alt => 'hadean image.'), root_path %>
      </h1>
      <ul id="menu-main">

        <li class="" id="menu-main-philosophy">
            <%= link_to(loop_about_path, :id => 'philosophy_button') do %>
                <strong> About Us </strong>
            <% end %>
        </li>

      </ul>
    </div>
  </div>
</div>