<div class=" bp">
  <%= render :partial => 'shared/super_header' %>
  <div id="sub_header_wrapper" class='bp'>
    <div id="sub_sub_header_wrapper" class='container'>
      <%= render 'shared/main_product_tabs' %>
    </div>
  </div>
</div>