<h1> Address </h1>

<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <%= link_to "Edit", edit_myaccount_address_path(@address), :class => 'b-link' %> |
  <%= link_to "Remove", myaccount_address_path(@address), :confirm => 'Are you sure?', :method => :delete, :class => 'b-link' %> |
  <%= link_to "All addresses", myaccount_addresses_path, :class => 'b-link' %>
</p>
