#footer_wrapper {

  font-variant: small-caps;
  font-weight:bold;
  font-size:106%;

  border-bottom: 1px solid #ECECEC;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom #FFFFFF;
  text-align: left;

  /*margin-top:50px;*/

  li {
    display: inline;
    list-style: none;
    color: #ADA663;
    padding: 3px;
    a {
      color: #828282;
    }
    a:hover {
      color: #ADA663;
    }
    .selected {
      color: #ADA663 !important;
    }
  }
  li:hover {
    color: #ADA663;
  }
}