#main-product-type-tabs {

  /* padding-top: 25px; */
  font-variant: small-caps;
  font-weight:bold;
  font-size:106%;

  li {
    display: inline;
    list-style: none;
    color: #ADA663;
    padding: 3px;
    padding-left: 20px;
    a {
      color: #828282;
    }
    a:hover {
      color: #ADA663;
    }
    .selected {
      color: #AA4444 !important;
    }
  }
  li:hover {
    color: #ADA663;
  }
}