#left_nav_wrapper {
  li {
    padding-top:7px;
    font: bold 14px Verdana;
    color:#525252;
    font-variant: small-caps;

    a:visited {
      color:#525252;
    }

    a:hover {
      color:#CDC673;
    }
  }
}