<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>

<div id='featured_image' class=' ' >
  <%= image_tag 'main_loop_image_bw.jpg', :style => 'width:954px; border: 3px #D3D3D3 solid;' %>
</div>

