<h1> <%= @order_item.variant.product_name %> </h1>

<p>
  <strong>Total:</strong>
  <%= @order_item.total %>
</p>

<p>
  <%= link_to "Edit", edit_seller_admin_current_order_order_item_path(@order, @order_item), :class => 'button' %> |
</p>
