<h1> You have referred </h1>

<p>
  <strong>Email:</strong>
  <%= @referral.referral_email %>
</p>

<p>
  <%= link_to "View your Referrals", myaccount_referrals_path, :class => 'button white-button medium-button' %>
</p>
