<h1> Orders </h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.name %></td>
      <td><%= link_to "Show", seller_admin_current_order_path(order) %></td>
      <td><%= link_to "Edit", edit_seller_admin_current_order_path(order) %></td>
    </tr>
  <% end %>
</table>

