<h1> New Company" </h1>

<%= form_for(@company, :url => admin_seller_companies_path(@company)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_seller_companies_path, :class => 'button' %>
