<h1> Edit Measurement </h1>

<%= form_for(@measurement, :url => myaccount_measurement_path(@measurement)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Show', myaccount_measurement_path( @measurement ), :class => 'button' %> |
  <%= link_to 'View All', myaccount_measurements_path, :class => 'button' %>
