<h1> Measurement </h1>

<p>
  <strong>Name:</strong>
  <%= @measurement.name %>
</p>

<p>
  <%= link_to "Edit", edit_myaccount_measurement_path(@measurement), :class => 'button' %> |
  <%= link_to "Destroy", myaccount_measurement_path(@measurement), :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> |
  <%= link_to "View All", myaccount_measurements_path, :class => 'button' %>
</p>
