<h1> Shipments </h1>

<table>
  <tr>
    <th>Number</th>
  </tr>
  <% for shipment in @shipments %>
    <tr>
      <td><%= shipment.number %></td>
      <td><%= link_to "Show", seller_admin_current_shipment_path(shipment) %></td>
      <td><%#= link_to "Edit", edit_seller_admin_current_shipment_path(shipment) %></td>
    </tr>
  <% end %>
</table>

