<h1> Shipment (<%= @shipment.number %>) </h1>

<p>
  <strong>Number:</strong>
  <%= @shipment.number %>
</p>

<p>
  <%= link_to "Edit", edit_seller_admin_current_shipment_path(@shipment), :class => 'button' %> |
  <%= link_to "View All", seller_admin_current_shipments_path, :class => 'button' %>
</p>
