<h1> New City </h1>

<%= form_for(@city, :url => admin_seller_cities_path(@city)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_seller_cities_path, :class => 'button' %>
