<%= render :partial => '/admin/seller/sub_header'%>
<h1> New Ticket" </h1>

<%= form_for(@ticket, :url => admin_seller_tickets_path(@ticket)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_seller_tickets_path, :class => 'button white-button medium-button' %>
