<%
my_account_tabs = {
  'Products'      => seller_admin_products_path,
  'Orders'        => seller_admin_current_orders_path,
  "Shipments"     => seller_admin_current_shipments_path,
  "Issues"        => seller_admin_issues_tickets_path
}
%>



<ul id='main-product-type-tabs'>
  <% my_account_tabs.each_pair do |tab_name, tab_path| %>
    <li> <%= link_to_unless_current tab_name, tab_path %> </li>
  <% end %>
</ul>